body {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 14pt;
}

/*
 * Display English by default. This will need some tweaking in prod
 */
ul.term-name li.english {
  display: inline-block;
}

.terms {
  padding: 0;
  margin: 0;
  list-style: none;

  margin: 25px;
}

.term {
  width: 640px;
  margin-bottom: 20px;
}

ul.term-name {
  font-weight: bold;
  list-style: none;
  padding: 0;

  display: flex;
  align-items: baseline;
  gap: 15px;
}

ul.term-name li {
  display: none;
  font-weight: bold;
}

/**
 * Style the English tag when English is not the selected language
 ****/
ul.terms:not([data-lang~="english"]) ul.term-name li.english {
  font-size: 0.8em;
  font-weight: normal;
}

ul.terms:not([data-lang~="english"]) ul.term-name li.english::before {
  content: "-";
  margin-right: 10px;
}

.term .definition {
  display: none;
}

.term .definition.english {
  display: inline-block;
}

ul.language-select {
  list-style: none;
  padding: 0;

  display: flex;
  gap: 10px;

  font-size: 11pt;
}
