body {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 14pt;
}

.terms {
  padding: 0;
  margin: 0;
  list-style: none;

  margin: 25px;
}

.term {
  width: 640px;
  margin-bottom: 20px;
}

ul.term-name {
  font-weight: bold;
  list-style: none;
  padding: 0;
}

ul.term-name li {
  display: none;
}

ul.term-name li.english {
  display: inline-block;
}

.term .definition {
  display: none;
}

.term .definition.english {
  display: inline-block;
}

ul.language-select {
  list-style: none;
  padding: 0;

  display: flex;
  gap: 10px;

  font-size: 11pt;
}
